* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  h1 h1 h2 h3
    h4 h5 h2 h3
    h4 h5 h6 h6*/

.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.layout {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 70px 300px;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img4 img5 img2 img3"
    "img4 img5 img6 img6";
  grid-gap: 30px 20px;
}

.layout-item:first-child {
  grid-area: img1;
}

.layout-item:nth-child(2) {
  grid-area: img2;
}

.layout-item:nth-child(3) {
  grid-area: img3;
}

.layout-item:nth-child(4) {
  grid-area: img4;
}

.layout-item:nth-child(5) {
  grid-area: img5;
}

.layout-item:last-child {
  grid-area: img6;
}
